# Data Science Tools and Ecosystem

In this notebook, Data Science Tools are summurized

**Objectives**
* List popular languagues for Data Science 
* List of libraries used by Data Scientists 
* Create a table
* Do some simple arithmetic expression 
* Do some conversion using division

Some of the popular languages that Data Scientists use are: 
1. Python
2. R 
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow

|Data Science Tools|
------
|R Studio|
|Jupyter Notebook| 
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60 
200/60

3.3333333333333335

## Author
Manon BASLE